.pc{
    display: none;
}

@media (min-width: 1200px){

    .pc {
    display: block;
}


.pc__1{
    display: flex;
    width: 100%;
    margin-top: 20px;
}
.pc__2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 990px;
}

.desktop1 h2{
    font-size: 24px;
    font-weight: 600;
    color: var(--color-gray2);
}
.desktop1__separador{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 60px;
}
.desktop1 {
    padding: 16px;
    background-color: var(--color-white);
    width: 96%;
    display: flex;
    border-radius: 12px;
}

.desktop1__1{
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    font-size: 24px;
    color: var(--color-gray);
    margin-top: 30px;
    font-weight: 600;
}

.desktop1__2{
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--color-gray3);
    margin-left: 70px;
}

.desktop1__6{
    display: flex;
    width: 260px;
    align-items: center;
    gap: 10px;
    background-color: var(--color-gray3);
    margin-left: 113px;
}

.desktop1__4{
    display: flex;
    width: 90%;
    align-items: center;
    gap: 10px;
    background-color: var(--color-gray3);
    margin-left: 93px;
}

.desktop1__3{
    width: 90%;
    height: 10px;
    background-color:var(--color-blue);
}

.desktop1__5{
    width: 80%;
    height: 10px;
    flex-shrink: 0;
    background-color:var(--color-blue);
}
.desktop2{
    background-color: var(--color-white);
    width: 96%; 
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 660px;
    border-radius: 12px;
    margin-top: 20px;
    
}
.desktop2__1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop2 h2{
   color: var(--color-gray2);
   font-size: 24px;
   font-weight: 600;
}

.desktop2__1 img{
    padding: 8px;
    width: 100%;
    height: 119px;
}

.desktop2__2{
    border: 1px solid var(--color-gray3);
    margin: 10px;
    border-radius: 12px;
    width: 40%;
}

.desktop2__3{
    padding: 4px;
    font-size: 16px;
}

.desktop2__4{
    font-size: 14px;
    padding-top: 5px;
    font-weight: 500;
}

.pc__3{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 990px;
}
.desktop3{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 16px;
    background-color: var(--color-white);
    gap: 13px;
    border-radius: 12px;
}

.desktop3__1{
font-size: 16px;
color: var(--color-gray2);
font-weight: 600;
}

.desktop3__2{
font-size: 18px;
width: 80%;
color: var(--color-gray);
}

.desktop3 img{
height: 374px;
border: 1px solid var(--color-gray3);
border-radius: 12px;
}

.desktop3__3{
display: flex;
flex-direction: row;
padding-top: 20px;
}

.desktop3__4{
width: 15%;
border-radius: 12px;
background-color: var(--color-blue);
color: var(--color-white);
border: 1px solid var(--color-blue);
cursor: pointer;
}

.desktop3__5{
width: 15%;
height: 45px;
margin-left: 20px;
border-radius: 12px;
background-color: var(--color-white);
border: 1px solid var(--color-blue);
color: var(--color-blue);
cursor: pointer;
}

.desktop4{
    background-color: var(--color-white);
    width: 100%;
    height: 290px;
    padding: 16px;
    border-radius: 12px;
    margin-top: 20px;
}
.desktop4 h2{
    color: var(--color-gray2);
    font-size: 24px;
    font-weight: 600;
}
.desktop4__1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.pc__4{
    width: 100%;
}
.desktop5{
    background-color: var(--color-white);
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
}
.desktop5 h2{
    padding: 10px;
    font-size: 24px;
    color: var(--color-gray2);
}

.desktop5__1{
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.desktop5__1 button.activo{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.desktop5__2{
    margin: 5px;
font-size: 18px;
width: 10%;
height: 46px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
border-radius: 12px;
background-color: white;
border: 1px solid var(--color-gray);
}


.desktop5__3{
    margin: 5px;
    background-color: var(--color-white);
    font-size: 18px;
    width: 10%;
    height: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid black;
}

.desktop5__4{
    margin: 5px;
    background-color: var(--color-white);
    font-size: 18px;
    width: 10%;
    height: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid black;
}
.desktop6{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.desktop4__2{
    border: 1px solid var(--color-gray3);
    border-radius: 12px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    width: 273px;
    height: 235px;
}

.desktop4__3{
    display: flex;  
    height: 59px;
    padding: 4px;
    gap: 6px;
    flex-direction: row;
}

.imagenadidas{
    height: 36.84px;
    width: 55px;
}
.desktop4__4{
    width: 178px;
    height: 51px;
    padding: 4px;
    gap: 6px;
    font-size: 13px;
}
.desktop4__5{
    width: 173px;
    height: 136px;
    font-size: 16px;
    color: var(--color-gray);
    display: flex;
}
.desktop6__1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
}

.desktop6__separador{
    margin-top: 20px;
    border-radius: 12px;
    width: 100%;
    height: 720px;
    background-color: var(--color-white);
}

.desktop6__1 img{
    width: 90%;
    height: 298.5px;
    border-radius: 12px;
    border: 1px solid var(--color-gray3);
}

.desktop6__2{
    font-size: 16px;
    color: var(--color-gray2);
    padding-top: 30px;
    font-weight: 600;
}

.desktop6__1 h2{
    padding-top: 20px;
    font-weight: 600;
}

.desktop6__3{
    font-size: 18px;
    width: 90%;
    padding-top: 20px;
    color: var(--color-gray);
}


.desktop6__4{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.desktop6__5{
    width: 30%;
    height: 45px;
    border-radius: 12px;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-blue);
    cursor: pointer;

}

.desktop6__6{
    width: 30%;
    height: 45px;
    margin-left: 20px;
    border-radius: 12px;
    background-color: var(--color-white);
    border-color: var(--color-blue);
    color: var(--color-blue);
    cursor: pointer;
    
}
.desktop7{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.desktop7__1{
    display: flex;
    width: 2%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray2);
    border-radius: 4px;
    font-size: 20px;
}

.desktop7__2{
    display: flex;
    width: 2%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.desktop7__3{
    display: flex;
    width: 2%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    background-color: var(--color-blue);
    color: white;
}
.desktop7__4{
    display: flex;
    width: 2%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.desktop7__5{
    display: flex;
    width: 2%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray2);
    border-radius: 4px;
    font-size: 20px;
}

}