@media (min-width: 1200px){
.pc__4{
    width: 100%;
}
.desktop5{
    background-color: var(--color-white);
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
}
.desktop5 h2{
    padding: 10px;
    font-size: 24px;
    color: var(--color-gray2);
}
.desktop5__1{
    display: flex;
    flex-direction: row;
    padding: 16px;
}
.desktop5__1 button.activo{
    background-color: var(--color-blue);
    color: var(--color-white);
}
.desktop5__2{
    margin: 5px;
font-size: 18px;
width: 10%;
height: 46px;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
border-radius: 12px;
background-color: white;
border: 1px solid var(--color-gray);
}
.desktop5__3{
    margin: 5px;
    background-color: var(--color-white);
    font-size: 18px;
    width: 10%;
    height: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid black;
}
.desktop5__4{
    margin: 5px;
    background-color: var(--color-white);
    font-size: 18px;
    width: 10%;
    height: 46px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 1px solid black;
}
.desktop6{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.desktop6__1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: white;
}
.desktop6__separador{
    margin-top: 20px;
    border-radius: 12px;
    width: 100%;
    height: 720px;
    background-color: var(--color-white);
}
.desktop6__1 img{
    width: 80%;
    height: 298.5px;
    border-radius: 12px;
    border: 1px solid var(--color-gray3);
}
.desktop6__2{
    font-size: 16px;
    color: var(--color-gray2);
    padding-top: 30px;
    font-weight: 600;
}
.desktop6__1 h2{
    padding-top: 20px;
    font-weight: 600;
}

.desktop6__3{
    font-size: 18px;
    width: 60%;
    padding-top: 20px;
    color: var(--color-gray);
}
.desktop6__4{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.desktop6__5{
    width: 30%;
    height: 45px;
    border-radius: 12px;
    cursor: pointer;
}
.desktop6__6{
    width: 30%;
    height: 45px;
    margin-left: 20px;
    border-radius: 12px;
    cursor: pointer;  
}

.desktop7{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.desktop7__1{
    display: flex;
    width: 2%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray2);
    border-radius: 4px;
    font-size: 20px;
}

.desktop7__2{
    display: flex;
    width: 2%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.desktop7__3{
    display: flex;
    width: 2%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.desktop7__4{
    display: flex;
    width: 2%;
    padding: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid #2f80ed;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}
.desktop7__5{
    display: flex;
    width: 2%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-gray2);
    border-radius: 4px;
    font-size: 20px;
}
}