:root{
    --color-fondo: #f3ebeb;
    --color-blue: #2f80ed;
    --color-gray: #828282;
    --color-gray2: #4f4f4f;
    --color-gray3: #c4c4c4;
    --color-white: #ffffff;
    --font-family: 'Montserrat'
  }
  